name: 'Test'
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  test:
    name: 'Test on Node.js ${{ matrix.node-version }}'
    strategy:
      matrix:
        node-version:
          - "14.14"
          - "14"
          - "16.0"
          - "16"
          - "18.0"
          - "18"
          - "x"
      fail-fast: false

    runs-on: 'ubuntu-latest'
    timeout-minutes: 10

    steps:
      - uses: 'actions/checkout@v3'
      - name: 'Setup Node.js ${{ matrix.node-version }}'
        uses: 'actions/setup-node@v3'
        with:
          node-version: '${{ matrix.node-version }}'
          cache: 'npm'
      - uses: 'bahmutov/npm-install@v1'
      - name: 'Check tool versions'
        run: |
          node --version
          vim --version
          git --version
      - name: 'Run test'
        run: |
          npm test
      - name: 'Send coverage'
        uses: 'codecov/codecov-action@v3'
        env:
          NODE: '${{ matrix.node-version }}'
          REF: '${{ github.ref }}'
        with:
          env_vars: 'NODE,REF'
